* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(90, 88, 88);
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 10px;
}

header {
    width: 100%;
    height: 80vh;
    background-image: url(images/banner.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
    margin-bottom: 10px;
}

.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: black;
    margin-top: 10px;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    left: 20px;
    cursor: pointer;
    display: none;
    max-width: 34px;
}

.events,
.explore,
.tours,
.footer {
    width: 100%;
}

.events {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: rgb(73, 73, 126);
    margin: 0 auto 30px;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 15px;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 10px;
    
}

.events .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 15px;

}

h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

p {
    color: #484872;
    padding: 0px 20px;
}

.events .ctn {
    margin-top: 30px;
}

.explore {
    height: 50vh;
    background-image: url(images/nyc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content {
    width: 80%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.explore-content h1 {
    font-size: 7vmin;
    margin: 30px;
}
.explore-content .line {
    margin-bottom: 30px;
    width: 300px;
    
}

.explore-content p {
    color: rgb(221, 221, 221);
}

.explore-content .ctn {
    margin-top: 20px;
}

.tours {
    margin: 40px auto;
}

.content-col {
    width: 80%;
}

.images-col {
    width: 80%;
}

.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.image-gallery {
    max-width: 100%;
    margin: 10px;
    flex: 1;
}

.content-col h1 {
    font-size: 7vmin;
    color: #484872;
}

.content-col .line {
    margin-left: -1px;
}

.content-col p {
    padding: 0;
    margin: 20px auto;
}

.content-col .ctn {
    margin-left: -50px;
}

.col img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #49495d;
    width: 100%;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.contact-info{
    flex:1;
    margin-right: 100px;
}
.logo{
    flex:1;
}
.logo,
.social-media {
    flex: 1;
    margin: 0 100px;
}

.contact-info,
.social-media {
    text-align: center;
}
.contact-info p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.logo {
    text-align: center;
}

.social-media {
    text-align: center;
}
.social-media ul {
    display: flex; 
    list-style: none;
    align-items: center;
    justify-content: center;
}
.social-media img {
    margin-left: 0 30px;
    vertical-align: middle;
}
.social-media h3 {
    margin: 0;
    padding-left:50px;
    display: flex;
    align-items: center;
}
.social-media img {
    margin-left:  20px;
    vertical-align: middle;
}
.footer p {
    color: whitesmoke;
    margin: 20px auto;
}

#overlay{
    width: 45%;
    height: 110%;
    position: static;
    
}
form{
    max-width: 550px;
    width: 90%;
    background-color: white;
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
}
header h1{
    margin: 0;
    text-align: center;
}
label{
    display: block;
    margin: 20px 0;
}

input, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #d3d3d3;
}
input[type="text"]:focus, textarea:focus{
    border-bottom: 1px solid #fc036b;
}
textarea::-webkit-scrollbar-thumb{
    background-color: #fc036b;
}
.center{
    text-align: center;
}
input[type="sybmit"]{
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: linear-gradient(to right#fc036b,#fc036b);
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
}
.error{
    color: red;
}
.error-border{
    border-bottom: 1px solid red;
}
#success{
    color: green;
}



@media only screen and (max-width: 850px) {
    .menu-btn {
        display: block;
    }
    .ctn{
        margin-top: 10px;
    }
    .navbar {
        padding: 10px;
    }

    .nav-links li {
        margin: 0 10px;
    }

    .header-content h1 {
        font-size: 5vmin;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .events,
    .explore,
    .tours {
        margin: 20px auto;
    }

    .col img {
        width: 70%;
        height: auto;
        object-fit: cover;
    }
     .footer-content {
        flex-direction: column;
        margin: 0;
        text-align: center;
    }

    .contact-info,
    .logo,
    .social-media {
        margin: 20px 0;
    }
}

